@model dynamic
@{
    ViewBag.Title = "Let's flock";
    Layout = "../Shared/_Layout.cshtml";
}

<div style="height: 100%;">
    
    <ng-include src="'../JSApplication/Templates/userPage.html'"></ng-include>
    
</div>
