<div class="commentprofileholder">

    <!--Profile photo-->
    <div class="commentuserphoto pull-left">
        <a class="pull-left" href="" ng-click="openProfilePageByGivenName(reply.UserDisplayName)">
            <img class="media-object img-thumbnail littleprofileimage" ng-src="data:image/jpeg;base64,{{reply.UserImage}}" />
        </a>
    </div>

    <!--Profile name-->
    <div class="commentuserdetails pull-left">

        <div class="commentusername">
            <a class="media-heading userprofilename ng-binding" style="font-size: 12px;" href="" ng-click="openProfilePageByGivenName(reply.UserDisplayName)">{{reply.UserDisplayName}}</a>
            <span highlight-tags callback-fn="onLinkClick" ng-model="reply.Message"></span>
        </div>

        <div class="commentusercomment" style="font-size: 11px;">
            <p>
                <span class="userprofiletime">{{reply.TimeSpan}}</span>
            </p>
        </div>

    </div>
    <div class="commentuserdelete pull-left">
        <button type="button" class="close pull-right" ng-click="deleteComment(reply, quack)"
                style="margin-top: -2px; font-weight: bold; font-size: 14px !important;" ng-hide="!{{user.ID==reply.UserId}}" aria-hidden="true">
                x</button>
    </div>
</div>
