<div id="quackUserLikes" ng-controller="quackUserLikesController" class="modal fade in" style="" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="text-center">
                        <h4 style="text-decoration:underline; font-family:tahoma">Likes</h4>    
                    </div>
            </div>
            <div class="modal-body">
                <h5>This quack is liked by {{userLikes.length}} member(s)</h5>
                <div ng-repeat="userLike in userLikes">
                    <user-like />
                </div>
            </div>
        </div>
    </div>
    
</div>