<div ng-controller="userPageController" style="height: 100%;">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <div class="center" style="max-width: 725px;">
                <div style="background-color: black; height: 60px; position: fixed; top: 0; width: 57.366666666666666666%; max-width: 725px; z-index: 100;">
            <div style="background-color: #ef4135; height: 60px; display: block; float: left">
                <h1 class="flocklogo"><span class="glyphicon glyphicon-send" style="color: white;"></span><a class="text-center" href="/#" style="font-family: 'Oswald', sans-serif; margin: 5px; text-decoration: none; color: white;">Flock</a></h1>
            </div><!--/.container-fluid -->
            <div style="width: 150px; height: 60px; display: block; float: right">
                <div class="flockcolor text-center" style="display: block; float: left; width: 60px; height: 60px;">
                    <h4 style="margin-top: 30%;"><a data-target="#userInfoModal" href="" ng-click="showUserDetails()" data-toggle="modal"><span class="glyphicon glyphicon-user white"></span></a></h4>
                </div>
                <div class="flockcolor text-center" style="display: block; float: right; width: 60px; height: 60px; margin-right: 20px;">
                    <h4 style="margin-top: 20px;"><a style="text-decoration: none;" class="white" data-target="#aboutModal" href="" data-toggle="modal">About</a></h4>  
                </div>
            </div>
            <!--<div style="height:60px; width:200px; display:block; float:right">
                    <div class="input-group" style="padding-top:13px;">
                        <input type="text" class="form-control" placeholder="search #hashtags" style="color:white; border:1px solid rgb(92, 92, 92); background: black;" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button style="border:1px solid rgb(92, 92, 92); border-left:0; background:black; color:white;" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>-->
        </div>
            </div>
            <div class="center" style="max-width: 725px;">
                <div style="position: relative; background-color: rgba(0, 182, 255, 0.61) ; height: 281px; margin-top: 70px;">
                    <!--COVER-->
                    <div class="coverbox round-corner" style="background-color: lightblue;">
                        <img id="userCoverPic" class="img-responsive" style="z-index: -10; height: 281px;" />
                        <a id="changeCoverButton" style="position: absolute; bottom: 5px; right: 5px;" data-target="#changePictureModel" data-toggle="modal" class="btn btn-sm btn-danger">change cover</a>
                    </div>

                    <!-- Profile photo-->
                    <div class="profileoverlay" style="position: relative; margin-top: -330px;">
                        <div style="height: 140px; position: absolute; top: 170px;">
                            <div style="float: left; margin-left: 20px; width: 120px;">
                                <a id="profilebox" href="" ng-click="openProfilePageByGivenName(displayName)">
                                    <img id="userProfilePic" class="media-object img-rounded img-thumbnail img-responsive" ng-src="{{userProfilePicUrl}}" style="margin-left:auto; margin-right: auto; height: 140px; width: 120px; border-color: dimgray; border-width: 2px;" />
                                </a>
                                <a id="changeProfile" style="position: absolute; top: 80%; left: 11%;"  class="btn btn-xs btn-danger" data-target="#changeProfilePictureModel" data-toggle="modal">change</a>
                                    
                            </div>
                            <div style="float: left; margin-left:15px; margin-top:115px;">
                                <h3 class="text-center" style="margin: 0;"><a style="text-decoration: none; color: white;" href="" ng-click="openProfilePageByGivenName(displayName)"><strong>{{displayName}}</strong></a></h3>
                            </div>
                        </div>
                    </div>                      
                             
                </div>
                <!-- NEW QUACK -->
                <!--QUACKS-->
    
            </div>
    

            <div class="center" id="stopscrolling" style="margin-top: 10px; max-width: 725px;">
        
                <!--QuackContents-->
                <!--New Quack-->
                <div class="insidecontainer" style="height: 120px; margin-bottom: 15px;">
                    <div id="postnewquack" style="width:100%; height: 120px; float: right; position: relative;">
                        <div class="textareacontainer" style="height: 70px; margin: 0; display:block; background-color: white;">
                            <textarea id="Textarea1" class="mainQuack" placeholder="Your Quack..." ng-model="messageContent" maxlength="300" style="border: 0; padding: 10px;overflow: hidden; height: 70px; width: 100%; color: rgb(128, 128, 128); "
                                      ng-disabled=" disableQuackMessage" on-enter="saveQuack()"></textarea>
                        </div>
                        <div id="buttons" style="background-color:rgb(0, 0, 0); height: 50px; width: 100%; position: absolute; top: 70px;">
                            <a class="btn btn-success pull-right" style="margin-right: 10px; margin-top: 7px;" ng-click="saveQuack()">Post Quack</a>
                            <a class="btn btn-primary pull-left" data-toggle="modal" data-target="#postImageQuack" onclick="copytexttoimagequack()" style="margin-left: 10px; margin-top: 7px;">Add photo</a>
                        </div>
                    </div>
                </div>
            

                <div class="well span8" style="background: none; height: auto; margin: 0px; padding: 0px; border: 0;">
                    <!--OBJECT - QUACK-->
                    <div infinite-scroll='getNewQuacks()' infinite-scroll-distance='1'></div>
                    <div ng-repeat="quack in quacks" style="margin-bottom: 0px;">

                        <!--Begin, Quack user pic--------------------------------------------------------------------------------------------------------------------------------------------------------------->
                        <quack />

                    </div>
                    <div class="quacksLoading text-center" ng-show="loadedQuacks!=quackCount" style="background: white; border-radius:4px; padding-top: 15px; padding-bottom:15px; margin-bottom: 15px;">
                        <img src="../../Content/images/spinner.gif" width="32px" height="32px"/>
                    </div>
                    <!--Delete in Production-->
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>
    <!--<div class="col-sm-4">
        <div class="rightcontainer" id="announcements">
            <ul class="list-group">
                <li class="list-group-item">Latest Announcements</li>
                <li class="list-group-item">Front Office Events</li>
                <li class="list-group-item">Project Updates</li>
                <li class="list-group-item">New Hire Welcomes</li>
                <li class="list-group-item">Birthdays & Announcements</li>
            </ul>
        </div>
    </div>-->
    </div>
    
    <!--<div id="rightcontainer" style="width: 18%; position: fixed; right: 0; top: 10%; margin: 0px; z-index: 1000; display: block; float: right;">
       <img src="../../Content/images/happenings.png"/>
       <img src="../../Content/images/potluck.png"/>
       <img src="../../Content/images/teamouting.png" style="margin-left: -20px;"/>
    </div>-->

    <ng-include src="'JSApplication/Templates/changePhoto.html'"></ng-include>
    <ng-include src="'JSApplication/Templates/changeProfilePic.html'"></ng-include>
    <ng-include src="'JSApplication/Templates/quackUserLikes.html'"></ng-include>
    <ng-include src="'JSApplication/Templates/SearchWindow.html'"></ng-include>
    <ng-include src="'JSApplication/Templates/About.html'"></ng-include>
    <ng-include src="'JSApplication/Templates/userInfo.html'"></ng-include>
    <ng-include src="'JSApplication/Templates/postImageQuack.html'"></ng-include>
    

</div>





